<!-- navigation -->
<section>
  <div class="top-navigation">
    <div class="container">
      <a href="#" class="brand">QUIRE</a>
      <div class="nav-list float-right">
        <ul>
          <li><a href="#">BLOG</a></li>
          <li><a href="#">TOP&ndash;RATED</a></li>
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">SHOP</a></li>
          <li><a [routerLink]="['/signup']">SIGN UP</a></li>
          <li><a [routerLink]="['/login']">LOGIN</a></li>
          <!-- <li><button class="btn btn-default" [routerLink]="['/blog', 'read']" (click)="onLogin()">LOGIN</button></li>
          <li><button class="btn btn-default" [routerLink]="['/blog', 'read']" (click)="onLogout()">LOGOUT</button></li> -->
        </ul>
      </div>
    </div>
  </div>
</section>

