<div class="row">
    <div *ngFor="let blog of userBlogs; let i = index" class="col-xl-6">
        <div class="user-blog">
            <div class="user-blog-photo" [style.background-image]="'url('+blog.imagePath+')'"></div>
            <div class="user-blog-details">
                <div class="user-blog-title"><h2>{{blog.title}}</h2></div>
                <div class="user-blog-short-description" ellipsis [innerHtml]="blog.content"></div>
                <div class="user-blog-read"><a [routerLink]="['/blog', blog.id, 'read']">Read more</a></div>
            </div>
        </div>
    </div>
</div>
