<section>
    <div class="selection">
        <div class="selection-content row no-gutters">

            <div class="tech">
                <div class="selection-detail">
                    <h2>Technology</h2>
                    <p>45 Articles</p>
                </div>
            </div>
           
            <div class="selection-right">
                <div class="row no-gutters">
                    <div class="personal-growth col-xl-4">
                        <div class="overlay"></div>
                        <div class="selection-detail">
                            <h2>Personal Growth</h2>
                            <p>2 Articles</p>
                        </div>
                    </div>
                    <div class="business col-xl-8">
                        <div class="overlay"></div>
                        <div class="selection-detail">
                            <h2>Business</h2>
                            <p>8 Articles</p>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="health col-xl-4">
                        <div class="overlay"></div>
                        <div class="selection-detail">
                            <h2>Health</h2>
                            <p>13 Articles</p>
                        </div>
                    </div>
                    <div class="science col-xl-8">
                        <div class="overlay"></div>
                        <div class="selection-detail">
                            <h2>Science</h2>
                            <p>27 Articles</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>