<div class="user-profile-nav">
    <div class="container">
        <div class="nav-group-brand"><a href="#" class="brand-dark">QUIRE</a></div>
        <div class="nav-group">
            <div class="nav-group-link"><a routerLink="blogs" routerLinkActive="active-dashboard-link" >Blogs</a></div>
            <div class="nav-group-link"><a routerLink="update" routerLinkActive="active-dashboard-link">Profile Settings</a></div>
            <div class="nav-group-link"><a (click)="logout()" style="cursor: pointer;">Logout</a></div>
            <div class="user-profile-avatar" [style.background-image]="'url('+user.photo+')'"></div>
        </div>
    </div>
</div>

<div class="user-profile-container">
    <div class="container">
        <div class="row">

            <div class="col-xl-3">
                <div class="user-profile-view-top">
                    <div class="user-profile-image" [style.background-image]="'url('+user.photo+')'"></div>
                    <div class="user-profile-name text-center">{{ user.name }}</div>
                    <div class="user-profile-bio text-center">{{ user.bio }}</div>
                    <div class="user-profile-website text-center"><a href="#">{{ user.website }}</a></div>
                </div>
                <div class="line-separator-light"></div>
                <div class="user-profile-bottom">
                    Tags
                    <div class="tag-badges">
                        <span class="badge badge-secondary">Technology</span>
                        <span class="badge badge-secondary">Personal Growth</span>
                    </div>
                </div>
            </div>

            <div class="col-xl-9">
                <router-outlet></router-outlet>
            </div>
            
        </div>
    </div>
</div>
