<div class="user-profile-nav">
    <div class="container">
        <div class="nav-group-brand"><a href="#" class="brand-dark">QUIRE</a></div>
        <div class="nav-group">
            <div class="nav-group-link"><a routerLink="blogs" routerLinkActive="active-dashboard-link" >Blogs</a></div>
            <div class="nav-group-link"><a routerLink="update" routerLinkActive="active-dashboard-link">Profile Settings</a></div>
            <div class="nav-group-link"><a (click)="logout()" style="cursor: pointer;">Logout</a></div>
            <div class="user-profile-avatar" style="background: white"></div>
        </div>
    </div>
</div>

<div class="blog-categories">
    <div class="blog-categories-top-control">
        <div class="container">
            <a href="#">Create new blog</a>
        </div>
    </div>

    <div class="blog-categories-list">
        <div class="container">
            <div *ngFor="let category of availableCategories">
                <div class="blog-categories-name">{{ category }}</div>
                <div class="row">
                    <div class="col" *ngFor="let blog of getBlogs(category)"><div style="background: white">{{ blog.title }}</div></div>
                </div>
            </div>
        </div>
    </div>
</div>