<div class="user-profile-nav">
    <div class="container">
        <div class="nav-group-brand"><a href="#" class="brand-dark">QUIRE</a></div>
        <div class="nav-group">
            <div class="nav-group-link"><a routerLink="blogs" routerLinkActive="active-dashboard-link" >Blogs</a></div>
            <div class="nav-group-link"><a routerLink="update" routerLinkActive="active-dashboard-link">Profile Settings</a></div>
            <div class="nav-group-link"><a (click)="logout()" style="cursor: pointer;">Logout</a></div>
            <div class="user-profile-avatar" style="background: white"></div>
        </div>
    </div>
</div>

<div class="blog-categories">
    <div class="blog-categories-top-control">
        <div class="container">
            <a [routerLink]="['/profile/blog', 'new']">Create new blog</a>
        </div>
    </div>

    <div class="blog-categories-list">
        <div class="container">
            <div class="blog-categories-row" *ngFor="let category of availableCategories">
                <div class="blog-categories-name"><h1>{{ category }}</h1></div>
                <div class="row">
                    <div class="col-lg-4 col-xl-4" *ngFor="let blog of getBlogs(category) | slice:0:3;">
                        <div class="blog-categories-img" [style.background-image]="'url('+ blog.imagePath +')'">
                            <a class="btn btn-warning" [routerLink]="['/profile/blog', blog.id, 'edit']">EDIT</a>
                        </div>
                        <div class="blog-categories-title">{{ blog.title }}</div>
                    </div>
                </div>
                <div class="blog-categories-seemore row"><a type="button" class="btn btn-link" [routerLink]="['/profile/category', category]" >SEE MORE</a></div>
            </div>
        </div>
    </div>
</div>