<!-- <section>
    <div class="shopping"> -->
        <!-- <div class="shoppingimg"></div> -->
        <!-- <div class="shopping-img-outer">
            <div class="shoppingimg">
                <img src="././assets/images/camera.jpg" class="img-fluid" alt="">
            </div>
            <p>FROM THE SHOP</p>
        </div>
        <div class="shop-details">
            <h2>CAMERA SLING BAG</h2>
            <p style="font-family: 'montserrat medium'; font-size: 20px; color: #333; margin-top: 10px; margin-bottom: 30px">A modern, multi-device shoulder bag with easy access to camera and video gear.</p>
            <p style="font-family: 'montserrat medium'; font-size: 20px; color: #333;">Get essential protection and easy access to a wide variety of camera and video gear - 
                all in a lightweight modern and multi-device shoulder bag.</p>
            
            <div class="shop-details-footer clearfix">
                <p>$199</p>
                <a href="#">SHOP NOW</a>
            </div>
        </div>
    </div>
</section> -->