<div class="row">
    <div class="col">
        <form [formGroup]="profileSettings">
                <div formGroupName="basic">
                        <div>
                                <input type="text" name="fullname" placeholder="Name" formControlName="fullname">
                        </div>
                        <div>
                                <input type="text" name="username" placeholder="Username" formControlName="username">
                        </div>
                        <div>
                                <input type="text" name="website" placeholder="Website" formControlName="website">
                        </div>
                        <div>
                                <textarea name="bio" rows="3" formControlName="bio"></textarea>
                        </div>
                </div>
                <div formGroupName="private">
                        <div>
                                <input type="text" name="phone" placeholder="Phone Number" formControlName="phone">
                        </div>
                </div>
                        <div>
                                <button type="button" (click)="openGenderDialog('gender-dialog')"><input readonly type="text" value="{{authUser.gender}}"></button>
                        </div>
                
            <div>
                    <button type="submit">Save</button>
            </div>
            
        </form>
    </div>
</div>

<app-dialog id="gender-dialog">
        <form [formGroup]="genderForm" (ngSubmit)="onGenderSubmit('gender-dialog')">
                <label><input type="radio" name="gender" formControlName="gender" value="0" checked="{{authUser.gender === 'Male' ? true : null}}"> Male</label>
                <label><input type="radio" name="gender" formControlName="gender" value="1" checked="{{authUser.gender === 'Female' ? true : null}}"> Female</label>
                <button type="submit">Done</button>
        </form>
</app-dialog>
